body{
    color: white;
    background-color: black;
    background-image: url(Imagenes/sheesh.jfif), url(Imagenes/que.gif);
    background-repeat: no-repeat, no-repeat;
    background-size: 41.5%;
    background-position: top right, top left;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

.texto{
    margin-left: 46.5%;
}

.textito{
    margin-left: 43.5%;
}

.si{
    margin-left: -1.5%;
}

.container {
    margin-left: 2%;
    animation: fall 6s linear infinite;
}

.container2 {
    margin-left: 23%;
    animation: fall 10s linear infinite;
}

.container3 {
    margin-left: 75%;
    animation: fall 8s linear infinite;
}

.container4 {
    margin-left: 90%;
    animation: fall 14s linear infinite;
}

.falling-image {
    position: absolute;
}

@keyframes fall {
    0% {
        transform: translateY(-30vh);
    }
    100% {
        transform: translateY(85vh);
    }
}

